body {
  color: #fff;
  background-color: #FFB6C1;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 20px; /* just to push the brand li'l down */
}

.navbar-brand h1 {
  font-weight: bold;
  font-size: 2em; /*Relative size increase as per h1 here*/
  margin-top: 0;
  margin-bottom: 0;

}

* {
  box-sizing: border-box;
}

body {
  margxin: 0;
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}