{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Airplane Reservation System </title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/flight.css'%}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/menu.css'%}">
</head>

<body>
    <div class="content">

    <h1 id="nav">AMIGOS JET</h1>
  </div>
    <div class="topnav">
      <div class="topnav-right">
          <a href="about">About</a>
          <a href="{% url 'home' %}">Home</a>
          <a class="active" href="reservation">Reservation Status</a>
          <a href="contact">Contact Us</a>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <div class="flight-details">
        <hr>
        <h3 style="margin-left:2em;">Cancel Confirmation</h3>
        <hr>
        <table style="margin-left:2em;">
            <tr>
                <td><b > Amigos Reservation Code </b></td>
                <td>VA{{request.session.cancel_book_id}}</td>
            </tr>
            <tr>
                <td><b > Amigos Flight ID </b></td>
                <td>{{request.session.cflight_id}}</td>
            </tr>
            <tr>
                <td><b > Source </b></td>
                <td>{{request.session.c_source}}</td>
            </tr>
            <tr>
                <td><b > Destination </b></td>
                <td>{{request.session.c_destination}}</td>
            </tr>
            <tr>
                <td><b > Seats </b></td>
                <td>{{request.session.cancelled_seats}}</td>
            </tr>
            <tr>
                <td><b > Status </b></td>
                <td>Cancelled</td>
            </tr>
        </table>
    </div>
</body>
</html>