{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Airplane Reservation System </title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/styles.css'%}">
     <link rel="stylesheet" type='text/css' href="{% static 'css/passenger.css'%}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/animateerror.css'%}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/menu.css'%}">
</head>
<body>
    <div class="content">

    <h1 id="nav">AMIGOS JET</h1>
  </div>
    <div class="topnav">
      <div class="topnav-right">
          <a href="about">About</a>
          <a href="{% url 'home' %}">Home</a>
          <a href="reservation">Reservation Status</a>
          <a href="contact">Contact Us</a>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <div align="center" class="error">
    <h1 style="color:red;">ERROR MESSAGE!!</h1><br>
        <h2 style="color:white;">You are not authorized to view this page.Please Go back to Home page.</h2><br>
    </div>
</body>

</html>