{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Airplane Reservation System </title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/aboutus.css'%}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/menu.css'%}">
</head>

<body>
   
    </div>
    <br><br><br><br><br><br><br>
    <div class="about-details">
        <div>
            <h1 style="margin-left:2em;">Need Help</h1>
            <hr>
            <p style="margin-left:5em;">
                Understanding our System <br><br>

            Step1: choosing destination, and from which place you wish to travel, chossing which class you want to travel and number of passengers you want to travel with, date on which you want to travel and search for results<br>
			step2: if available then, we display the desired results along with the price , you can click on book <br>
			step3: Then you have enter the passenger details, first name, last name, passport no, phone, email, gender, age and then continue or u can cancel<br>
			step4: after the billing page, where u have to enter your billing address as well as , payment details, we accept payment of visa, master, amex and discover.<br>
			step 5: then u can see your booking confirmation page
	</p>
        </div>
    </div>
</body>
</html>