{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Airplane Reservation System </title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/passenger.css'%}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/menu.css'%}">
</head>
<div class="banner"><h2><b><i>Fly with Us!</i></b></h2></div>
<body>

    <div class="passenger-details">
        <form id="passenger" method="Post">
        <h3> PASSENGER DETAILS </h3>

        <div class="group">
            <label for="name">First Name</label>
             <input type="text" id="name" name="name" placeholder="Enter First Name" required>
        </div>
            <div class="group">
                 <label for="lastname" class="last">Last Name</label>
                <input type="text" id="lastname" name="lastname" placeholder="Enter Last Name" required>
            </div>

            <div class="group">
                <label for="passport" class="pass">Passport No</label>
                <input type="text" id="pass" name="pass" placeholder="Passport Number" required>
            </div>

            <div class="group">
                <label for="phone" class="ph">Phone</label>
                <input type="number" id="ph" name="phone" placeholder="Phone Number">
            </div>

            <div class="group">
                <label for="email" class="eml">Email</label>
                <input type="text" id="email" name="email" placeholder="Email Id" size="35">
            </div>

            <div class="group">
                <label for="gender">Gender</label>
                <select id="gender" name="gender" placeholder="Select gender.." required>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>

      <div class="group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" maxlength="2" required/>

        </div>

        <div class="group">
            <input type="submit" name="option" value="Continue">
        </div>

        <div class="group">
            <input type="submit" name="option" value="Cancel">
        </div>
    </form>
</div>
    <div class="content">

    <h1 id="nav">AMIGOS JET</h1>
  </div>
<div class="topnav">
  <div class="topnav-right">
	  <a class="active" href="{% url 'home' %}">Home</a>
	  <a href="reservation">Ticket Cancel</a>
  </div>
</div>


<footer class="panel-footer">
    <div class="row">
        <section id="terms">
            <h4><u>Terms and Condtions:</u></h4>
            <p>• I agree to the fare rules, Terms & Conditions, Privacy Policy, and Contract of Carriage.<br>
            • All nonrefundable funds applied toward the purchase of a new reservation remain nonrefundable.
            Expiration dates of applied funds may result in new ticket(s) expiring earlier than the 12 months from date of purchase.<br>
            • The new expiration date will be printed on the confirmation receipt sent to you<br>
            • Please abide by the baggage policies
            &copy;Amigo Airlines 2018
        </section>

    </div>


</footer>


</body>
</html>