{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Passenger Details </title>
  <link rel="stylesheet" type='text/css' href="{% static 'css/passengerdetailstyle.css'%}">
</head>
<body>
	
	<form id="form" name="RegForm" action="/next.php" onsubmit="" method="get">
		<h1 style="text-align: center"> PASSENGER DETAILS PAGE </h1>        
<div class="banner"><h2><b><i>Fly with Us!</i></b></h2></div>

<div class = "center">
  <div class="ali">
          <div class="column-50">
            <img src="https://images.all-free-download.com/images/graphiclarge/airplane_icon_vector_red_background_280759.jpg" height="80px"><span><h3>Who's Flying?</h3></span>
            <div class="group">
            <label for="name">First Name</label>
             <input type="text" id="name" name="name" placeholder="Enter First Name">
         </div>
         <div class="group">
              <label for="middlename" class="last">Middle Name</label>
            <input type="text" id="middlename" name="middlename" placeholder="Enter Middle Name">
        </div>
        <div class="group">
             <label for="lastname" class="last">Last Name</label> 
            <input type="text" id="lastname" name="lastname" placeholder="Enter Last Name">
        </div>

<div class="group">
            <label for="phone" class="last">Phone</label> 
            	<input type="text" id="phone" name="phone" placeholder="Phone Number"> </div>
            <div class="group">
            <label for="email" class="last">Email</label>
            <input type="text" id="email" name="email" placeholder="Email Id">
        </div>

          
           </div>
           <div class="group">	
            <label for="gender">Gender</label>

			<select id="gender" name="gender">
      			<option selected> None </option>
      			<option>Male</option>
      			<option>Female</option>
      		
			</select>
			</div>

			<div class="group">

			<span> <label for="expm">Suffix</label>
           </span>
              <select id="expm">
      			<option selected> Mr. </option>
      			<option>Ms.</option>
      			<option>Mrs.</option>
			</select>
		</div>

            <div class="group">
            <label for="date">Date of Birth</label>
            <input type="date" id="start" name="trip"/>

        </div>
		<div class="group">
            <label for="assistance">Do you need special assistance? Type Yes if need.
            </label>
            <input type="text" id="assistance" name="cno" placeholder="Enter Choice">
          
          </div>

        </div>
    </div>

    <!-- Adding action for proceeding to next page: payment page -->
    	<form>
      <button formaction="newpay.html">Continue to Payment</button> <!-- ype="submit" align= "center" value="Continue to Payment" class="button" /> -->
      </form>
        
		

			<footer class="panel-footer">
		<div class="container " >
			<div class="column-50">
			<div class="row"> <!--rowins required 1st , then we decide no. of columns-->
				<section id="terms">
					<span><h3><u>Terms and Condtions:</u></h3></span>
					<p>• I agree to the fare rules, Terms & Conditions, Privacy Policy, and Contract of Carriage.<br>
					• All nonrefundable funds applied toward the purchase of a new reservation remain nonrefundable.
					Expiration dates of applied funds may result in new ticket(s) expiring earlier than the 12 months from date of purchase. The new expiration date will be printed on the confirmation receipt sent to you<br>
					• Prohibition of Multiple/Conflicting Reservations: To promote seat availability for our Customers, Amigo® prohibits multiple reservations for the same Passenger departing from the same city on the same date, or any multiple reservations containing conflicting or overlapping itineraries (such as departures for the same Customer from multiple cities at the same time).<br>
					• If you are not planning to travel on any portion of this itinerary, please cancel your reservation at least 10 minutes prior to the scheduled departure of your flight.<br>
					• Please abide by the baggage policies
				</section>
				
			</div>
			</div>
			<div class="text-center"><p class="copy"><b>&copy;Amigo Airlines 2018</b></p></div>
		</div>
		

	</footer>
	</div>
         
</form> 

</body>
</html>